#if ($issue)
    #if ($user)
    <span>$summary</span>&nbsp;(<a href="http://youtrack.jetbrains.com/issue/$issue" target="_blank"
                                   style="text-decoration:$style;"
                                   title="$title $access">$issue</a>)
    #else
    <span style="color:darkslategray;background-color:lightgrey">$issue</span>
    #end
#else
<span style="color:darkred;background-color: lightgrey;">$error</span>
#end