<h3>$title</h3>
#set($headerWithHtml =$header)
#set($rowsWithHtml = $rows)
#set($paginationWithHtml = $pagination)
#if ($hasIssues)
<table>
    <tr>
      $headerWithHtml
    </tr>
    $rowsWithHtml
</table>
#else
<p>No more matching issues to display.</p>
#end
<p>
    $paginationWithHtml
</p>