<span class="yt yt-issue yt-issue-detailed">
#if ($issue)
    #set($issueLinkTextWithHtml = $issueLinkText)
    #set($summaryEscapedHtml = $summaryFormattedText)
<span class="yt yt-summary">$summaryEscapedHtml</span>&nbsp;(<a class="yt yt-issuelink" href="$linkbase/issue/$issue" target="_blank" title="$title">$issueLinkTextWithHtml</a>)
#else
<span class="yt yt-error" style="color:darkred;background-color:lightgrey">$error</span>
#end
</span>
