#if ($issue)
<span>$summary</span>&nbsp;(<a href="$base$issue" target="_blank"
                               style="text-decoration:$style;"
                               title="$title">$issue</a>)
#else
<span style="color:darkslategray;background-color:lightgrey">$issue</span>
#end