<h3>$title</h3>
#set($rowsWithHtml = $rows)
<table>
    <tr>
        <th>Issue</th>
        <th>State</th>
        <th>Summary</th>
        <th>Assignee</th>
    </tr>
$rowsWithHtml
</table>
<p>Total issues: $total</p>