<tr>
    <td>
        {issue:id=XXX-NNNNN}
    </td>

    <td>
        <p>Inserts link to YouTrack issue that changes its appearance depending on the issue state. Link tooltip provides issue details.</p>

        <ul>
            <li>id &mdash; YouTrack issue id. For example, JS-2541.</li>
        </ul>
    </td>
</tr>