#set($spaceSelectorOptionsWithHtml = $spaceSelectorOptions)
<html>
<head>
    <title>YouTrack Integration Plugin Settings</title>
    <meta name="decorator" content="atl.admin"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<form id="settings" class="aui" action="$baseUrl/plugins/servlet/youtrack-integration/settings" method="post">
    <fieldset class="group">
        <legend for="youtracklinkbase">YouTrack site</legend>
        <input type="text" name="linkbase" id="linkbase" class="text" value="$linkbase" onkeydown="syncYouTrackURL()">
        <div class="description">The base URL for your YouTrack site. For YouTrack InCloud, include the trailing /youtrack</div>
    </fieldset>

    <fieldset class="group">
        <legend for="youtrackhost">REST API endpoint</legend>
        <input type="text" name="host" id="host" class="text" value="$host" onkeydown="syncYouTrackURL()">
        <div class="description">Use only when Confluence is unable to connect to the YouTrack backend using the base URL</div>
    </fieldset>

    <fieldset class="group">
        <legend>Security</legend>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="trustall" id="trustall" #if($trustall=='true')checked#end>
            <label for="youtracktrustall">Ignore SSL certificate check</label>

            <div class="description">Use only when Confluence doesn’t recognize the SSL certificate for your YouTrack site</div>
        </div>
    </fieldset>
    <fieldset class="group">
        <legend>Logging</legend>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="extendedDebug" id="extendedDebug" #if($extendedDebug=='true')checked#end>
            <label for="extendedDebug">Enable debug level</label>
            <div class="description">Use to write detailed macro activity to Confluence logs</div>
        </div>
    </fieldset>

    <div id="tokenBlock" class="field-group">
        <label for="youtracktoken">Access token</label>
        <input type="text" class="text" name="authKey" id="authKey" value="$authKey" autocomplete="off">
        <div class="description">To authorize access to YouTrack, <a id="generateTokenLink" target="_blank">generate a permanent token</a></div>
    </div>

    <div class="field-group">
        <input type="submit" value="Save Settings" class="button">
    </div>
    #if ($justSaved==0)
        <div class="aui-message message-success">
            <span class="aui-icon aui-icon-small aui-iconfont-approve"></span>
            <p class="title">
                <strong>Success!</strong>
            </p>
            <p>Settings have been updated successfully.</p>
        </div>
    #end
    #if ($justSaved==-2)
        <div class="aui-message message-error">
            <span class="aui-icon aui-icon-small aui-iconfont-error"></span>
            <p class="title">
                <strong>Error!</strong>
            </p>
            <p>Cannot login to the specified YouTrack instance with credentials you provided.</p>
            <p>Settings have not been updated.</p>
        </div>
    #end

    <script>
        function syncYouTrackURL() {
            setTimeout(function () {
                const linkbase = document.getElementById('linkbase');
                const host = document.getElementById('host');
                const tokenGenerationLink = (linkbase.value || host.value);
                if (tokenGenerationLink) {
                    const url = tokenGenerationLink.replaceAll('/rest', '').replace(/\/$/, "");
                    const generateTokenLink = document.getElementById('generateTokenLink');
                    generateTokenLink.setAttribute('href', url + '/admin/hub/users/root?tab=authentification');
                }
            }, 50);
        }

        AJS.toInit(syncYouTrackURL);
        window.syncYouTrackURL = syncYouTrackURL;
    </script>
</form>
</body>
</html>