<meta name="decorator" content="atl.admin">
<form class="aui" name="youtrackPluginSettings" action="/admin/plugins/youtrack-integration/configurePlugin.action"
      method="GET">
    <h3>Configure YouTrack Integration Plugin</h3>

    <div class="field-group">
        <label for="youtrackhost">YouTrack host REST address:</label>
        <input type="text" name="youtrackhost" value="$action.youtrackhost" class="text">
    </div>
    <div class="field-group">
        <label for="youtracklogin">Login:</label>
        <input type="text" name="youtracklogin" value="$action.youtracklogin" class="text">
    </div>
    <div class="field-group">
        <label for="youtrackpassword">Password:</label>
        <input type="password" name="youtrackpassword" value="$action.youtrackpassword" class="text">
    </div>
    <div class="field-group">
        <input type="submit" value="Save Settings" class="button">
    </div>
</form>